html,
body {
  min-width: 960px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;

  min-width: 960px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f3f7f8;
}

.main-navigation {
  background-color: #f3f7f8;
  padding-bottom: 65px;
}

.top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #293449;
}

.top-navigation-user .main-header-logo {
  display: block;
}

.main-header-logo {
  display: block;
  width: 106px;
  max-height: 47px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 #b52933;
  box-shadow: 0 5px 0 #b52933;

  padding: 10px 57px;
}

.main-footer-logo {
  display: block;
  width: 138px;
  max-height: 68px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 #b52933;
  box-shadow: 0 5px 0 #b52933;

  padding: 17px 41px;
}

.top-navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 42px;
  width: 100%;
  float: left;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 #9a212a;
  box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo:focus {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 #8e1e26;
  box-shadow: 0 5px 0 #8e1e26;
}

.top-navigation-user {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search-form {
  width: 270px;
  position: relative;
  margin: 0;
}

.search-form input[type="search"]::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search-form input[type="search"]:-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search-form input[type="search"]::-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search-form input[type="search"]::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search {
  width: 100%;
  height: 42px;
  font-size: 100%;
  padding-left: 49px;
  background-color: #293449;
  border: none;
  outline: none;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px 50%;
  opacity: 0.3;
}

.search-form input[type="search"]:focus {
  background: #ffffff;
  color: #000000;
  outline: none;

  background-image: url("../img/icon-search-red.png");
  background-repeat: no-repeat;
  background-position: 17px 50%;
}

.marker-link {
  display: block;
  width: 105px;
  padding: 12px 0 12px 45px;
  position: relative;
}

.marker-link::before {
  content: "";

  position: absolute;

  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  opacity: 0.3;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link {
  display: block;
  width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;

  position: relative;
  padding-left: 50px;
  padding-right: 0;
}

.cart-link-active {
  display: block;
  width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;

  position: relative;
  padding-left: 50px;
  padding-right: 0;
}

.cart-link::before {
  content: "";

  position: absolute;

  top: 12px;
  left: 19px;

  width: 15px;
  height: 15px;

  opacity: 0.3;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link-active {
  background-color: #ee3643;
}

.cart-link:hover::before,
.marker-link:hover::before {
  opacity: 1;
}

.order-link {
  display: block;
  width: 108px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 21px;
  text-align: center;
}

.navigation-user-link:hover {
  opacity: 1;
  background-color: #212a3a;
}

.top-navigation-user .search:hover {
  opacity: 1;
  background-color: #212a3a;
}

.top-navigation-user .marker-link:focus,
.top-navigation-user .cart-link:focus {
  opacity: 0.6;
  background-color: #161d29;
}

.top-navigation-user .order-link:hover {
  opacity: 1;
  background-color: #5fbb2d;
}

.top-navigation-user .order-link:focus {
  opacity: 0.5;
  background-color: #518534;
}

.top-navigation .order-link {
  background-color: #63a63e;
}

.top-navigation a {
  color: #ffffff;
}

.top-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-information h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #ee3643;
}

.title-about-us {
  display: block;
  width: 203px;
  max-height: 140px;
  margin: 49px 0 40px 50px;
}

.title-about-us h1{
  display: block;
  max-height: 70px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-info-address {
  display: block;
  width: 270px;
  margin-top: 46px;
  margin-bottom: 37px;
}

.top-info-address p {
  display: block;
  text-align: center;
  margin: 0;
}

.top-info-phone {
  display: block;

  width: 192px;
  max-height: 45px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 5px;
  border: 3px solid #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
  color: #ee3643;
}

.top-info-address .top-info-phone {
  position: relative;
  padding-left: 74px;
}

.top-info-address .top-info-phone::before {
  content: "";

  position: absolute;

  top: 9px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .top-info-address {
  display: block;
  margin-left: 20px;
}

.information p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #32425c;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 63px;
  list-style: none;
}

.user-navigation a {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

.login-link {
  display: block;
  width: 121px;
  max-height: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 10px;
}

.login-link span {
  display: block;
  margin-left: 47px;
}

.login-link svg {
  position: absolute;
  padding-left: 14px;
}

.user-navigation a:hover {
  color: #ee3643;
  opacity: 1;
  background-color: #ffffff;
}

.user-navigation a:focus {
  color: #c5c5c5;
  opacity: 0.3;
  background-color: #ffffff;
}

.user-navigation:hover path {
  fill: #32425c;
}

.user-navigation:focus path {
  fill: #c5c5c5;
}

.checkin {
  display: inline-block;
  width: 150px;
  max-height: 45px;
  text-align: center;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navigation-wrapper {
  display: block;
}

.site-navigation {
  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 #293449;
  box-shadow: 0 5px 0 #293449;
}

.navigation-wrapper .site-navigation {
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;
}

.site-navigation a {
  display: block;
  padding: 19px 31px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #ffffff;
}

.site-navigation a:hover {
  opacity: 1;
  background-color: #293449;
}

.site-navigation a:focus {
  opacity: 0.5;
  background-color: #000000;
}


/*ПРОМО-БЛОК*/

.promo-blocks {
  display: block;
  width: 940px;
  max-height: 409px;
  margin-top: 59px;
}

.blocks-group-1 {
  display: inline-block;
  width: 620px;
  margin-bottom: 20px;
  vertical-align: top;
}

.blocks-group-2 {
  display: inline-block;
  float: right;
  width: 300px;
  margin-left: 20px;
  vertical-align: top;
}

.block {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  vertical-align: middle;
}

.new,
.block-2 {
  display: inline-block;
  float: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: top;
}

.new:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.block-2 {
  background-color: #3bbce3;
  margin-left: 20px;
}

.block-3 {
  background-color: #dc91d8;
}

.block-4 {
  background-color: #85d179;
  margin-bottom: 20px;
}

.block-5 {
  background-color: #ffc047;
  /*margin-left: 20px;*/
}



/*СЛАЙДЕР-1*/


.slider {
  display: inline-block;
  position: relative;
  width: 620px;
  height: 266px;
  margin: 0;

  background-color: #8a796d;
  vertical-align: middle;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  vertical-align: top;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: default;
}

.slider-controls {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 14%;
  left: 45%;
  width: 60px;
  height: 10px;
  text-align: center;
}

.slider-item {
  display: none;
  padding: 24px 0 25px 0;
  margin: 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
}

#btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slider-arrows {
  position: relative;
}

.slider-arrows button {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  z-index: 30;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow-left {
  left: 25px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.arrow-right {
  right: 23px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#btn-1:checked~.slider-controls label[for=btn-1],
#btn-2:checked~.slider-controls label[for=btn-2] {
  background: #ee3643;
}

.slider-item h2 {
  display: block;
  max-width: 620px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-left: 24px;
}

.slider-item span {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  margin-left: 24px;
  margin-right: 0;
  margin-top: 0;
}

.slider-btn {
  display: block;
  width: 195px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  margin-top: 122px;
  margin-left: 25px;
  padding: 10px 0;
  background-color: #ee3643;
  border-radius: 3px;
}

.slider-btn:hover {
  background-color: #ca2c37;
}

.slider-btn:focus {
  background-color: #ba2732;
}

.promo h3 {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 0;
}

.block-img {
  display: block;
  position: absolute;
  width: 123px;
  height: 123px;
  right: 0;
  top: 0;
}

.block-img img {
  position: absolute;
  left: 44%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.block-btn {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-top: 15px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
}

.block-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.block-btn:focus {
  background-color: rgba(0, 0, 0, 0.3);
}


/*--------------------------------*/



.top-products {
  display: block;
}

.top-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-products .catalog-item {
  margin: 0;
}

.top-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f5f0;
  margin: 53px 0 20px;
}

.top-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f5f0;
  margin: 21px 0 20px;
}

.companies-item:hover,
.companies-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.companies-item:active {
  -webkit-box-shadow: 0 5px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 5px 10px rgba(41, 52, 73, 0.5);
}

.companies-item img:active {
  opacity: 0.3;
}

.top-index h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 28px;
  margin-top: 30px;
}

.top-company h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 24px;
  margin-top: 30px;
}

.all-products,
.all-companies {
  display: block;
  width: 252px;
  max-height: 38px;
  padding: 10px 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: #ee3643;

  border-radius: 3px;
  border: none;
}

.all-products:hover,
.all-companies:hover {
  background-color: #ca2c37;
}

.all-products:focus,
.all-companies:focus {
  background-color: #ba2732;
}


.all-products {
  margin: 25px 0 25px 373px;
}

.all-companies {
  margin: 25px 0 25px 274px;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  list-style: none;
  padding: 0;
  margin-bottom: 68px;
}

.companies-item {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.companies-item img {
  display: block;
  padding: 24px 8px;
}

.companies-item:nth-child(4n) {
  margin-right: 0;
}


/*СЛАЙДЕР-2*/

.services {
  display: block;
  background-color: #f4f8fa;
  margin: 0;
  padding: 0;
}

.service-block {
  display: block;
  padding-top: 40px;
  padding-bottom: 355px;
}

.service-block h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.service-block p {
  display: block;
  width: 460px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

.service-block-left {
  position: relative;
  display: block;
  float: left;
  width: 940px;
  min-height: 305px;
  margin: 0 auto;
  margin-top: 65px;
}

.service-toggle::before {
  content: "";

  position: absolute;

  top: -35px;
  left: 233px;

  width: 10px;
  height: 279px;

  background-image: url("../img/slider-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-toggle {
  position: absolute;
  z-index: 100;
  bottom: 94%;
  left: 0%;
  width: 60px;
  height: 15px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.service-touch-button {
  display: none;
}

.service-touch-button h3 {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  margin-bottom: 25px;
}

.service-touch-button p {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.delivery p {
  display: block;
  width: 280px;
  max-height: 170px;
  overflow: hidden;
}

.guarantee p {
  display: block;
  width: 380px;
  max-height: 170px;
  overflow: hidden;
}

.credit p{
  display: block;
  width: 290px;
  max-height: 170px;
  overflow: hidden;
}

.credit .button {
  display: block;
  width: 195px;
  padding: 14px;
  margin-top: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  border: none;
}

.additional-text {
  display: block;
  max-width: 190px;
}

.service-toggle label {
  display: block;
  width: 220px;
  max-height: 61px;
  text-align: left;
  padding: 15px 0 15px 22px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.delivery:nth-child(1) {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.guarantee:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.credit:nth-child(3) {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

#arrow-1:checked ~ .service-block-right .delivery:nth-child(1),
#arrow-2:checked ~ .service-block-right .guarantee:nth-child(2),
#arrow-3:checked ~ .service-block-right .credit:nth-child(3) {
  display: block;
}

.service-touch-button {
  margin-left: 320px;
  padding-bottom: 132px;
}

#arrow-1:checked~.service-toggle label[for="arrow-1"],
#arrow-2:checked~.service-toggle label[for="arrow-2"],
#arrow-3:checked~.service-toggle label[for="arrow-3"] {
  color: #32425c;
  background-color: #ffffff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
}



/*_________________________________________________*/

.description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 86px;
}

.description-about h2,
.description-contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.description-about p,
.description-delivery p,
.description-contacts p {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

.description-delivery p {
  margin-top: 0;
}

.description-about {
  display: block;
  width: 535px;
  margin-bottom: 25px;

}

.description-delivery {
  display: block;
  width: 390px;

}

.description-contacts {
  display: block;
  width: 180px;
}

.delivery-item p::before {
  content: "";
  display: inline-block;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: -40px;
  vertical-align: middle;
}

.delivery-list {
  display: block;
  margin-top: 23px;
  margin-bottom: 0;
  list-style: none;
}

.delivery-list p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.description-left-button,
.message-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.description-left-button {
  display: block;
  width: 220px;
  max-height: 38px;
  padding: 10px 0;
  margin-top: 37px;
}

.message-button {
  display: block;
  width: 300px;
  max-height: 38px;
  padding: 10px 0;
  margin-top: 40px;
}

.description-left-button:hover,
.message-button:hover {
  background-color: #ca2c37;
}

.description-left-button:focus,
.message-button:focus {
  background-color: #ba2732;
}

.js-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 30px;
  background-color: #f4f2ec;
}

.js-map img {
  display: block;
}

.main-footer {
  background-color: #32425c;
}

.footer-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #32425c;
  padding-bottom: 48px;
}

.main-footer-logo {
  display: block;
  margin-bottom: 33px;
}

.footer-contacts {
  display: block;
  width: 390px;
  margin: 0;
  padding: 0;
}

.footer-navigation {
  display: block;
  width: 550px;
  margin: 0;
  padding: 0;
}

.footer-contacts p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.site-footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 550px;
  margin-top: 38px;
  margin-bottom: 33px;
  padding: 0;
}

.site-footer-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
}


.catalog-footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 25px;
  padding: 0;
}

.catalog-footer-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  display: block;
  padding-top: 23px;
  background-color: #293449;
}

.footer-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #293449;
  padding-bottom: 31px;
  min-width: 940px;
}

.footer-bottom p,
.footer-bottom a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.email a,
.developed-by a {
  color: #ffd180;
}

.footer-bottom-copyright {
  display: block;
  width: 230px;
  margin-right: 160px;
}

.footer-bottom-social {
  display: inline-block;
  width: 135px;
  margin-right: 115px;
  vertical-align: top;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #212a3a;
  margin-right: 5px;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-feedback {
  display: block;
  width: 285px;
  margin:0;
}

.footer-feedback a:hover {
  text-decoration: underline;
}

.footer-feedback a:focus {
  text-decoration: none;
  color: #ee3643;
}

.email {
  display: block;
}

.email p {
  display: block;
  margin-bottom: 0;
}

.developed-by {
  display: block;
  margin-right: 15px;
}

.developed-by p {
  display: block;
  margin-bottom: 0;
}

.footer-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
}


/*СТИЛИЗАЦИЯ СТРАНИЦЫ КАТАЛОГА*/

.catalog-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.user-block {
  display: block;
}

.user-block-account {
  display: block;
  margin-bottom: 10px;
  margin-top: 46px;
  padding-top: 12px;
  padding-bottom: 9px;
  background-color: #ffffff;
  width: 300px;
  position: relative;
}

.user-menu-username svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.user-menu-logout svg {
  position: absolute;
  top: 14px;
  left: 269px;
}

.user-block-account a {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 47px;
}

.user-block-account a:hover {
  color: #32425c;
}

.user-block-account:hover path {
  fill: #32425c;
}

.user-block-account a:focus {
  opacity: 0.3;
  color: #000000;
}

.user-block-account:focus path {
  fill: #c5c5c5;
}

.user-block-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background-color: #f2f6f8;
  text-decoration: underline;
}

.user-block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 215px;
  padding-left: 17px;
}

.user-block-menu a:hover {
  opacity: 1;
  color: #ee3643;
}

.user-block-menu a:focus {
  opacity: 0.3;
  color: #32425c;
}

.breadcrumbs-item {
  display: inline-block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  vertical-align: top;
}

.products-catalog {
  padding-left: 35px;
  position: relative;
}

.tools-breadcrumbs {
  padding-left: 38px;
  position: relative;
}

.perforators-breadcrumbs {
  padding-left: 40px;
  position: relative;
}

.products-catalog:before {
  display: inline-block;
  content: "";

  position: absolute;

  top: 2px;
  left: 10px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  vertical-align: top;
}

.tools-breadcrumbs:before {
  display: inline-block;
  content: "";

  position: absolute;

  top: 2px;
  left: 16px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  vertical-align: top;
}

.perforators-breadcrumbs:before {
  display: inline-block;
  content: "";

  position: absolute;

  top: 2px;
  left: 15px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  vertical-align: top;
}

/*ФИЛЬТРЫ*/

.filter-company legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin-bottom: 10px;
}

.filter-power legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin-bottom: 10px;
}

.filter-item {
  display: block;
  margin-top: 10px;
}

.filter-price {
  width: 220px;
  margin-right: 20px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-price legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
}

.range-filter {
  width: 220px;
  margin-top: 12px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 25px;
}

.price-controls label {
  display: inline-block;

  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
}

.price-controls input {
  width: 95px;
  padding: 10px 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-controls input:nth-child(1) {
  margin-left: 0;
}

.price-controls input:nth-child(2) {
  margin-right: 0;
}

.max-price {
  text-align: right;
}

.filter-input[type="radio"] {
  display: none;
}

.filter-input[type="radio"] + label {
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
}

.filter-input[type="radio"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  opacity: 0.7;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  left: 0px;
  top: 0px;
}

.filter-input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input[type="checkbox"] {
  display: none;
}

.filter-input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
}

.filter-input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  opacity: 0.7;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  left: 0px;
  top: 0px;
}

.filter-input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input + label:hover:before,
.filter-input:checked + label:hover:before {
  opacity: 1;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-option {
  display: block;
  margin-bottom: 15px;
  margin-top: 0;
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 4px;
  padding-left: 33px;
}

.show {
  width: 140px;
  text-transform: uppercase;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 3px;
}

.item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.breadcrumbs {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  vertical-align: top;
}

.catalog-content h2 {
  display: block;
  margin: 0;
  max-height: 89px;
  padding: 29px 0 29px 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter-company,
.filter-power {
  border: none;
  padding: 0;
}

.filter-company {
  display: block;
  width: 220px;
  margin-right: 20px;
  margin-top: 17px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}


.filter-power {
  width: 220px;
  margin: 0;
  border: none;
  margin-top: 17px;
  margin-bottom: 64px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter h3 {
  display: block;
  width: 203px;
  max-height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;

  padding: 10px 0 10px 19px;
  border-radius: 3px;
  margin-top: 20px;
}

.filter-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f3ec;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 0;
}

.filter-right h3 {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  width: 80px;
  max-height: 38px;
  margin: 0 140px 0 19px;
}

.filter-right a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
  color: #000000;
  opacity: 0.3;
}

.filter-right .active {
  opacity: 1;
  color: #ee3643;
  text-decoration: none;
}

.filter-right a:hover {
  opacity: 1;
  text-decoration: underline;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
}

.active path {
  fill: #ee3643;
}

.filter-right ul {
  list-style: none;
  margin: 0;
}

.filter-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 355px;
  padding: 0;
}

.filter-item-range {
  display: inline-block;
  width: 45px;
  padding: 0;
  margin-left: 46px;
  margin-right: 15px;
  vertical-align: top;
}

.filter-arrow-up {
  margin-right: 19px;
}

/*_______________________________*/

.catalog-items {
  display: block;
  width: 700px;
  margin: 20px auto;
  margin-bottom: 30px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  max-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 5px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 5px 10px rgba(41, 52, 73, 0.5);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.item-actions .buy,
.item-actions .bookmark {
  display: block;
  position: relative;
  max-width: 129px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 7px 7px;
  border: 3px solid #63a63e;
  background-color: #63a63e;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.item-actions .buy {
  border-bottom-color: #367315;
}

.item-actions .bookmark {
  color: #32425c;
  background: white;
  border-color: #63a63e;
}

.item-actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
}

.item-actions .buy:focus {
  background-color: #518534;
  border: 3px solid #518534;
}

.item-actions .bookmark:hover {
  border: 3px solid #32425c;
}

.item-actions .bookmark:focus {
  opacity: 0.3;
}

.item-actions .buy::before {
  content: "";

  position: absolute;

  top: 7px;
  left: 14px;

  width: 15px;
  height: 15px;

  opacity: 0.3;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-actions .buy:hover::before {
  opacity: 1;
}

.catalog-item .item-actions {
  display: none;
}

.catalog-item:hover .item-actions {
  display: block;
}

.catalog-item .item-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .item-image img {
  max-width: 100%;
}

.catalog-item .item-title {
  max-height: 40px;
  padding: 0 25px;
  margin-top: 12px;
  margin-bottom: 10px;

  white-space: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.catalog-item .item-old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  min-height: 18px;
  margin-top: 10px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .item-price {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  position: relative;
  width: 80px;
  max-height: 38px;
  margin: 9px 36px 20px 43px;
  padding: 10px 30px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .item-price:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
  cursor: default;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 9px;
  margin-bottom: 60px;
}

.pagination-item a {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  background-color: #ffffff;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item .page-button-next {
  display: block;
  padding: 0;
  padding: 10px 30px;
  text-align: center;
}

.pagination-item .active-button {
  color: #ffffff;
  background-color: #ee3643;
}


.pagination-item a:hover {
  border: 1px solid #c5c5c5;
}

.pagination-item a:focus {
  border: 1px solid #ee3643;
}

.about {
  display: block;
  min-width:960px;
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 68px;
}

.content {
  display: block;
  margin: 0 auto;
}

.content h2 {
  display: block;
  margin-bottom: 25px;
  margin-top: 0;
  font-famyly: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.content p {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin:0;
}


/*СТИЛИЗАЦИЯ МОДАЛЬНЫХ ОКОН*/


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

:-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

::-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-write-us,
.modal-add-cart {
  top: 20%;
  left: 30%;
  width: 620px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 460px;
  margin: 55px 80px 37px 80px;
}

.user-form p {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.user-form label {
  font-family: "Cuprum", Arial, sans-serif;
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 13px;
}

.user-form input[type="text"],
.user-form input[type="email"] {
  width: 220px;
  height: 38px;
}

.user-form textarea {
  width: 460px;
  height: 114px;
  resize: none
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  padding: 10px 15px;
  line-height: 18px;

  color: #a9a9a9;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.modal-bottom {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 112px;
  background-color: #f4f4f4;
}

.send-letter {
  color: #ffffff;
  background-color: #ee3643;
  width: 460px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-top: 74px;
}

.modal-write-us::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 620px;
  height: 7px;

  background-image: url("../img/modal-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-form input:hover,
.user-form textarea:hover {
  border:2px solid #b5b5b5;
}

.user-form input:focus,
.user-form textarea:focus {
  border: 2px solid #ee3643;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  opacity: 1;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}


.modal-add-cart {
  width: 620px;
  max-height: 282px;
}

.modal-add-cart .add-cart {
  /*display: block;*/
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  margin-left: 100px;
  margin-top: 20px;
}

.modal-add-cart:before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 620px;
  height: 7px;

  background-image: url("../img/modal-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.add-cart-block::before {
  content: "";

  position: absolute;

  top: 55px;
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order {
  color: #ffffff;
  background-color: #ee3643;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 80px;
}

.continue-shopping {
  color: #000000;
  background-color: #ffffff;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 80px;
}

.modal-map {
  width: 940px;
  height: 448px;
  top: 20%;
  left: 22%;
  bottom: 310px;
  width: 940px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
}

.modal-image {
  width: 940px;
  height: 446px;
}

.modal-image img {
  display: block;
}

.modal-map-close {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 21px;
  height: 21px;

  opacity: 1;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

