html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;

  min-width: 1200px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.main-header {
  background-color: #f3f7f8;
}

.main-navigation {
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.top-navigation {
  display: flex;
  background-color: #293449;
}

.top-navigation-user .main-header-logo {
  display: block;
}

.main-header-logo,
.main-footer-logo {
  display: block;
  width: 106px;
  height: 18px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;

  padding: 13px 57px 16px 57px;
}

.top-navigation-user {
  display: flex;
  width: 100%;
  float: left;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo:focus {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}

.top-navigation-user {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.search-form {
  width: 260px;
  position: relative;
  margin: 0;
}

.search-form input[type="search"]::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  /*opacity: 1;*/
}

.search {
  width: 260px;
  height: 47px;
  font-size: 100%;
  padding-left: 49px;
  background-color: #293449;
  border: none;
  outline: none;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px 50%;
  opacity: 0.3;
}



.search-form input[type="search"]:focus {
  background: #ffffff;
  color: #000000;

  background-image: url("../img/icon-search-red.png");
  background-repeat: no-repeat;
  background-position: 17px 50%;
}

/*input[type="search"]::before {*/
  /*content: "";*/

  /*position: absolute;*/

  /*top: 14px;*/
  /*left: 17px;*/

  /*width: 17px;*/
  /*height: 17px;*/

  /*background-image: url("../img/icon-search.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 0 0;*/
  /*opacity: 0.3;*/
  /*cursor: pointer;*/
/*}*/

/*.search:hover {*/
  /*opacity: 1;*/
/*}*/

.marker-link {
  display: block;
  width: 125px;
  padding: 14px 0 12px 45px;
  position: relative;
}

.marker-link::before {
  content: "";

  position: absolute;

  top: 14px;
  left: 17px;

  width: 14px;
  height: 16px;

  opacity: 0.3;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link {
  display: block;
  margin-right: -10px;
  padding-top: 14px;
  padding-bottom: 12px;

  position: relative;
  padding-left: 50px;
  padding-right: 25px;
}

.cart-link::before {
  content: "";

  position: absolute;

  top: 14px;
  left: 16px;

  width: 15px;
  height: 15px;

  opacity: 0.3;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link-active {
  background-color: #ee3643;
}

.cart-link:hover::before,
.marker-link:hover::before {
  opacity: 1;
}

.order-link {
  display: block;
  width: 108px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 21px;
}

.navigation-user-link:hover {
  opacity: 1;
  background-color: #212a3a;
}

.top-navigation-user .search:hover {
  opacity: 1;
  background-color: #212a3a;
}

.top-navigation-user .marker-link:focus,
.top-navigation-user .cart-link:focus {
  opacity: 0.6;
  background-color: #161d29;
}

.top-navigation-user .order-link:hover {
  opacity: 1;
  background-color: #5fbb2d;
}

.top-navigation-user .order-link:focus {
  opacity: 0.5;
  background-color: #518534;
}

.top-navigation .order-link {
  background-color: #63a63e;
}

.top-navigation a {
  color: #ffffff;
}

.top-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-information h1 {

  display: inline-block;
  margin-top: 49px;
  margin-right: 54px;
  margin-bottom: 43px;
  margin-left: 50px;

  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #ee3643;
}

.top-info-address {
  display: block;
  width: 270px;
  margin-top: 46px;
  margin-bottom: 43px;
}

.top-info-address p {
  display: block;
  text-align: center;
  margin: 0;
}

.top-info-phone {
  display: block;

  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 10px;
  border: 3px solid #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
  color: #ee3643;
}

.top-info-address .top-info-phone {
  position: relative;
  padding-left: 65px;
}

.top-info-address .top-info-phone::before {
  content: "";

  position: absolute;

  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.information p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #32425c;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 67px;
  list-style: none;
}

.user-navigation a {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

.login-link {
  display: block;
  width: 121px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 10px;
}

.login-link span {
  display: block;
  margin-left: 47px;
}

.login-link svg {
  position: absolute;
  padding-left: 14px;
}

.user-navigation a:hover {
  color: #ee3643;
  opacity: 1;
  background-color: #ffffff;
}

.user-navigation a:focus {
  color: #c5c5c5;
  opacity: 0.3;
  background-color: #ffffff;
}

.user-navigation:hover path {
  fill: #32425c;
}

.user-navigation:focus path {
  fill: #c5c5c5;
}

.checkin {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: 0 5px 0 #293449;
}

.navigation-wrapper .site-navigation {
  list-style: none;
}

.site-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.site-navigation a {
  display: block;
  padding: 20px 31px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #ffffff;
}

.site-navigation a:hover {
  opacity: 1;
  background-color: #293449;
}

.site-navigation a:focus {
  opacity: 0.5;
  background-color: #000000;
}

.top-products {
  display: block;
}

.top-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-products .catalog-item {
  margin: 0;
}

.top-index {
  display: flex;
  background-color: #f9f5f0;
  margin: 53px 0 20px;
}

.top-index h2 {
  margin-left: 28px;
  margin-top: 33px;
}

.all-products,
.all-companies {
  display: block;
  width: 253px;
  padding: 13px 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: #ee3643;

  border-radius: 3px;
  border: none;
}

.all-products {
  margin: 25px 0 25px 373px;
}

.all-companies {
  margin: 25px 0 25px 274px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  list-style: none;
  padding: 0;
  margin-bottom: 85px;
}

.companies-item {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.companies-item img {
  padding-top: 25px;
}

.companies-item:nth-child(4n) {
  margin-right: 0;
}


/*СЛАЙДЕР-2*/

.services {
  display: block;
  background-color: #f4f8fa;
}

.service-block {
  display: block;
  padding-top: 68px;
  padding-bottom: 360px;
}


.service-block-left {
  position: relative;
  display: block;
  float: left;
  width: 940px;
  margin: 0 auto;
  margin-top: 73px;
}

.service-toggle::before {
  content: "";

  position: absolute;

  top: -35px;
  left: 252px;

  width: 10px;
  height: 279px;

  background-image: url("../img/slider-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-toggle {
  position: absolute;
  z-index: 100;
  bottom: 94%;
  left: 0%;
  width: 60px;
  height: 15px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.service-touch-button {
  display: none;
}

.service-touch-button h3 {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  margin-bottom: 25px;
}

.service-touch-button p {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.delivery p {
  display: block;
  width: 280px;
}

.guarantee p {
  display: block;
  width: 380px;
}

.credit p{
  display: block;
  width: 290px;
}

.credit .button {
  display: block;
  width: 195px;
  padding: 14px;
  margin-top: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  border: none;
}

.additional-text {
  display: block;
  max-width: 190px;
}

.service-toggle label {
  display: block;
  width: 240px;
  text-align: left;
  padding: 15px 0 15px 22px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.delivery:nth-child(1) {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.guarantee:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.credit:nth-child(3) {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

#arrow-1:checked ~ .service-block-right .delivery:nth-child(1),
#arrow-2:checked ~ .service-block-right .guarantee:nth-child(2),
#arrow-3:checked ~ .service-block-right .credit:nth-child(3) {
  display: block;
}

.service-touch-button {
  margin-left: 320px;
  padding-bottom: 132px;
}

#arrow-1:checked~.service-toggle label[for="arrow-1"],
#arrow-2:checked~.service-toggle label[for="arrow-2"],
#arrow-3:checked~.service-toggle label[for="arrow-3"] {
  color: #32425c;
  background-color: #ffffff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
}



/*_________________________________________________*/

.description .container {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 86px;
}

.description-about h2,
.description-contacts h2 {
  color: #000000;
}

.description-about p,
.description-delivery p,
.description-contacts p {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.description-delivery p {
  margin-top: 0;
}

.description-about {
  display: block;
  width: 535px;
  margin-bottom: 30px;
}

.description-delivery {
  display: block;
  width: 390px;

}

.description-contacts {
  display: block;
  width: 180px;
}

.delivery-item p::before {
  content: "";
  display: inline-block;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 9px;
  margin-bottom: 5px;
  margin-left: -30px;
  vertical-align: middle;
}

.delivery-list {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  list-style: none;
}

.delivery-list p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.description-left-button,
.message-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.description-left-button {
  display: block;
  width: 220px;
  padding: 14px 0;
  margin-top: 30px;
}

.message-button {
  display: block;
  width: 300px;
  padding: 14px 0;
  margin-top: 40px;
}

.contact-map {
  display: block;
  margin-top: 35px;
}

.main-footer {
  background-color: #32425c;
}

.footer-top-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
}

.main-footer-logo {
  display: block;
  margin-bottom: 33px;
}

.footer-contacts p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.site-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  width: 550px;
  margin-bottom: 33px;
}

.site-footer-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin-left: 25px;
}

.catalog-footer-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #293449;
  padding-bottom: 31px;
  min-width: 940px;
}

.footer-bottom p,
.footer-bottom a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.email a,
.developed-by a {
  color: #ffd180;
}

.footer-bottom-copyright {
  display: inline-block;
  width: 230px;
  margin-right: 120px;
}

.footer-bottom-social {
  margin-right: 120px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #212a3a;
  margin-right: 5px;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.email {
  display: block;
}

.email p {
  display: block;
  margin-bottom: 0;
}

.developed-by {
  display: block;
}

.developed-by p {
  display: block;
  margin-bottom: 0;
}

.footer-feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}


/*СТИЛИЗАЦИЯ СТРАНИЦЫ КАТАЛОГА*/

.catalog-information {
  display: flex;
  flex-wrap: wrap;
}

.user-block {
  display: block;
}

.user-block-account {
  display: block;
  margin-bottom: 10px;
  margin-top: 46px;
  padding-top: 14px;
  padding-bottom: 11px;
  background-color: #ffffff;
  width: 300px;
  position: relative;
}

.user-menu-username svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.user-menu-logout svg {
  position: absolute;
  top: 14px;
  left: 269px;
}

.user-block-account a {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 47px;
}

.user-block-account a:hover {
  color: #32425c;
}

.user-block-account:hover path {
  fill: #32425c;
}

.user-block-account a:focus {
  opacity: 0.3;
  color: #000000;
}

.user-block-account:focus path {
  fill: #c5c5c5;
}

.user-block-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background-color: #f2f6f8;
  text-decoration: underline;
}

.user-block-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 215px;
  padding-left: 15px;
}

.user-block-menu a:hover {
  opacity: 1;
  color: #ee3643;
}

.user-block-menu a:focus {
  opacity: 0.3;
  color: #32425c;
}

.breadcrumbs-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.filter-item {
  display: block;
  margin-top: 10px;
}

.filter-input[type="radio"] {
  display: none;
}

.filter-input[type="radio"] + label {
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
}

.filter-input[type="radio"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  opacity: 1;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  left: 0px;
  top: 0px;
}

.filter-input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input[type="checkbox"] {
  display: none;
}

.filter-input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
}

.filter-input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  opacity: 1;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  left: 0px;
  top: 0px;
}

.filter-input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 35px;
}

.show {
  width: 140px;
  text-transform: uppercase;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 3px;
}

.item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.breadcrumbs {
  display: inline-block;
  margin-bottom: 24px;
  margin-top: 24px;
}

.catalog-content h2 {
  display: block;
  margin: 0;
  background-color: #f2f6f8;
}

.filter-company,
.filter-power {
  border: none;
  padding: 0;
}

.filter-company {
  width: 220px;
  margin-right: 20px;
  border: none;
}

.filter-power {
  width: 220px;
  margin: 0;
  border: none;
  margin-bottom: 64px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.catalog-columns {
  display: flex;
}

.catalog-items {
  margin-bottom: 52px;

  width: 700px;
  margin: 20px auto;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .item-actions .buy,
.catalog-item .item-actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .item-actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .item-actions {
  display: none;
}

.catalog-item:hover .item-actions {
  display: block;
}

.catalog-item .item-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .item-image {
  width: 184px;
  height: 164px;
}

.catalog-item .item-image img {
  max-width: 100%;
}

.catalog-item .item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .item-old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  min-height: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .item-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .item-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  margin-bottom: 60px;
}

.pagination-item a {
  display: block;
  padding: 15px 20px;
  color: #000000;
  border: 1px solid #c5c5c5;
  border-radius: 3px;

  background-color: #ffffff;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item .first-button {
  color: #ffffff;
  background-color: #ee3643;
}


/*СТИЛИЗАЦИЯ МОДАЛЬНЫХ ОКОН*/


.modal {
  display: none;
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-write-us,
.modal-add-cart {
  top: 20%;
  left: 30%;
  width: 620px;
  box-sizing:border-box;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  margin: 55px 80px 37px 80px;
}

.user-form p {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.user-form label {
  font-family: "Cuprum", Arial, sans-serif;
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 13px;
}

.user-form input[type="text"],
.user-form input[type="email"] {
  width: 220px;
  height: 38px;
}

.user-form textarea {
  width: 460px;
  height: 114px;
  resize: none
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form textarea {
  box-sizing: border-box;
  font: inherit;
  padding: 10px 15px;
  line-height: 18px;

  color: #a9a9a9;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.modal-bottom {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 112px;
  background-color: #f4f4f4;
}

.send-letter {
  color: #ffffff;
  background-color: #ee3643;
  width: 460px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-top: 74px;
}

.modal-write-us::before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 620px;
  height: 7px;

  background-image: url("../img/modal-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-form input:hover,
.user-form textarea:hover {
  border:2px solid #b5b5b5;
}

.user-form input:focus,
.user-form textarea:focus {
  border: 2px solid #ee3643;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  opacity: 1;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}


.modal-add-cart {
  display: block;
  width: 620px;
  max-height: 282px;
}

.modal-add-cart .add-cart {
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  margin-left: 100px;
  margin-top: 20px;
}

.modal-add-cart:before {
  content: "";

  position: absolute;

  top: 0px;
  left: 0px;

  width: 620px;
  height: 7px;

  background-image: url("../img/modal-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.add-cart-block::before {
  content: "";

  position: absolute;

  top: 55px;
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order {
  color: #ffffff;
  background-color: #ee3643;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 80px;
}

.continue-shopping {
  color: #000000;
  background-color: #ffffff;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font: inherit;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 80px;
}
